/*
 *	Name:			memoirs_author		
 *	Last Modify:	Liye
 */
* { word-wrap: break-word; }
body { background-color: #efe0cb; }
.m-wrap { width: 204px; height: 600px; position: fixed; top: 0; left: 0; background-color: #efe0cb; -moz-transition: width 200ms linear 0s; -webkit-transition: width 200ms linear 0s; transition: width 200ms linear 0s; }
.m-wrap a { outline: 0 none; }
.m-wrap .m-back { width: 176px; margin: 30px 0 10px 28px; position: relative; z-index: 1; }
.m-wrap .m-back a { display: block; height: 76px; background: url('../images/sidebar_logo.png') no-repeat; }
.m-wrap .m-inner { height: 100%; margin-left: 20px; overflow: hidden; }
.m-wrap .m-inner .m-area { width: 184px; }
.m-wrap .pay-end {
	background-image: url("../images/tb-bg.png");
    background-position: 0 -36px;
    background-repeat: no-repeat;
    height: 8px;
    margin-bottom: 10px;
    overflow: hidden;
}
.m-wrap .m-boundary { width: 46px; height: 100%; background-color: #efe0cb; background-image: url('../images/tb-bg.png'); background-repeat: no-repeat; background-position: -212px 0px; position: absolute; top: 0; right: 0; }
.m-wrap .m-boundary .switchs { display: block; background: url('../images/tb-bg.png') no-repeat; background-position: -286px -448px; position: absolute; top: 300px; left: 45px; margin-top: -26px; width: 20px; height: 52px; }
.m-wrap .m-boundary .switchs:hover { background-position: -348px -448px; }
.m-wrap .book-info { margin-left: 26px; margin-bottom: 10px; position: relative; }
.m-wrap .book-info .book-title { width: 110px; color: #666; font-size: 16px; margin-bottom: 5px; padding-left: 2px; }
.m-wrap .book-info .book-cover { margin-bottom: 5px; }
.m-wrap .book-info .cover-img { width: 112px; height: 148px; }
img {
    vertical-align: middle;
	border: 0 none;
}
.m-wrap .book-info .book-author { width: 110px; color: #666; padding-left: 2px; }
.m-wrap .book-info .book-author a { color: #000; }
.m-wrap .book-comment { height: 30px; line-height: 30px; margin-left: 26px; }
.m-wrap .book-comment a { display: block; padding-left: 30px; background: url('../images/tb-bg.png') no-repeat;  background-position: -22px -86px; color: #666; }
.hide-pay-area {
    width: 46px;
}
.hide-pay-area .m-boundary .switchs {
    background-position: -286px -448px;
}
.hide-pay-area .m-boundary .switchs:hover {
    background-position: -348px -448px;
}
.hide-pay-area .book-info, .hide-pay-area .pay-end, .hide-pay-area .book-comment {
    display: none;
}

.m-area .read-nav { margin-top: 30px; margin-left: 20px; }
.read-nav li { width: 110px; height: 30px; line-height: 30px; border: 1px solid #c3c2bf; margin-bottom: 8px; text-align: center; font-size: 16px; }
.read-nav li a { display: block; width: 110px; height: 30px; color:#666; }
.read-nav a:hover, .read-nav .active a { background-color: #fa652a; color: #fff; text-decoration: none; }
.m-area .fenge { width: 152px; height: 2px; margin: 35px 0px; background: url(../images/cover_imgs.png) no-repeat; background-position: -14px -89px; }
.m-area .read-btn { margin-left: 20px; }
.read-btn li { width: 110px; height: 30px; line-height: 30px; margin-bottom: 10px; font-size: 16px; }
.read-btn .fang { background: url(../images/cover_imgs.png) no-repeat; background-position: -26px -228px; }
.read-btn .cha { background: url(../images/cover_imgs.png) no-repeat; background-position: -26px -278px; }
.read-btn .ping { background: url(../images/cover_imgs.png) no-repeat; background-position: -26px -328px; }
.read-btn .ping span { color: #fa652a; }
.read-btn .fan { background: url(../images/cover_imgs.png) no-repeat; background-position: -26px -378px; }
.read-btn li a { display: block; width: 80px; padding-left: 30px; color: #666; text-align: left; }

#m-author { width: 880px; background: url(../images/cn_bg.png) repeat-y; position: absolute; top: 0; left: 50%; margin-left: -440px; z-index: 1; }
#m-author .a-inner { padding: 50px; }
.a-inner .book-top { height: 40px; line-height: 40px; font-size: 28px; color: #656565; font-weight: 500; border-bottom: 1px solid #e1dad4; }
.a-inner .book-middle { height: auto; border-top: 1px solid #fff; padding: 10px 0; }
.book-middle .author-info { float: left; width: 760px; border-bottom: 1px dotted #cbc6c0; padding: 15px 10px; }
.author-info .a-avatar { float:left; width: 80px; height: 80px; margin-right: 40px; }
.book-middle .a-avatar .img-up, .book-middle .a-avatar .img-down { position: absolute; top: 117px; left: 60px; width: 80px; height: 80px; }


.author-info .a-name { float: right; width: 640px; }
.book-middle .author-des { width: 760px; float: left; padding: 10px; font-size: 16px; line-height: 40px; color: #666; }
.author-info .a-name a { font-size: 22px; color: #000; height: 40px; line-height: 40px; }
.author-info .a-name p { font-size: 16px; color: #666; height: 40px; line-height: 40px; }
.a-inner .book-bottom { width: 780px; padding-top: 15px; }
.book-bottom .author-intro { font-size: 16px; color: #666; }
.author-intro h2 { height: 40px; line-height: 40px; font-size: 22px; font-weight: 500; color: #ff9306; border-bottom: 1px dotted #cbc6c0; padding-left: 10px; }
.author-intro p { line-height: 40px; color: #666; text-indent: 32px; padding: 10px; }

#begin-read { position: absolute; top: 100px; left: 50%; margin-left: 438px; width: 128px; }
#begin-read .ks_read, #begin-read .tri { display: block; line-height: 50px; background-color: #ff9306; color: #fff; font-size: 20px; text-align: center; margin-bottom: 20px; border-radius: 3px; }
#begin-read .ks_read:hover, #begin-read .tri:hover { text-decoration: none; background-color: #ffaa06; }

/*
 *弹出目录层的样式
 */
#begin-read .catalog-box{ height:670px; background-color: #eee7e0; position: absolute;top:-100px;right:126px;z-index: 10;overflow-y:auto;overflow-x:hidden;display: none;width:0; box-shadow: -1px 0 2px #d7d7d7; }
.catalog-box .hd { padding: 50px 30px 0 30px; }
#begin-read .catalog-box .hd h2{text-align: center;font-size:28px;color: #4f4f4f;line-height: 40px; border-bottom: 1px solid #d9d5cf; }
#begin-read .catalog-box .bd {padding:0 30px;line-height: 50px; }
.catalog-box .bd dl { border-top: 1px solid #f7f3f0; border-bottom: 1px solid #d9d5cf; }
.catalog-box .bd .zuihou { height: 1px; border-top: 1px solid #f7f3f0; border-bottom: 0; }
.catalog-box .bd dt span { padding-left: 30px; font-size: 18px; color: #000; display: block; border-bottom: 1px dashed #d8d4d1; }

#begin-read .catalog-box .bd dd, #begin-read .catalog-box .bd dt { margin-left:25px;border-bottom: 1px dashed #f8f5f2; }
#begin-read .catalog-box .bd .c_teshu { border-bottom: 0; }
#begin-read .catalog-box .bd dt a {display: block; border-bottom: 1px dashed #d8d4d1; padding-left: 30px; color: #000; font-size:18px;}
#begin-read .catalog-box .bd dd a { display: block; border-bottom: 1px dashed #d8d4d1; padding-left: 70px; color: #666; font-size:18px; }
#begin-read .catalog-box .bd .c_teshu a{ border-bottom: 0; }
#begin-read .catalog-box .bd dd a:hover, #begin-read .catalog-box .bd dt a:hover{ background-color: #efe0cb; text-decoration: none; }
